<footer class="footer-bx ">
  <div class="container pt-3 ">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-links">
          <li><a href="#"
               target="_blank"><i class="fa-brands fa-square-whatsapp social"></i></a></li>
          <li><a href="#"
               target="_blank"><i class="fa-brands fa-twitter social"></i></a></li>
          <li><a href="#"
               target="_blank"><i class="fa-brands fa-instagram social"></i></a></li>

          <li><a href="#"
               target="_blank"><i class="fa-brands fa-square-facebook social"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>