.label-text {
  font-size: 15px;
  color: #e1e1e1;
  font-family: "Open Sans", sans-serif;
}
.label-value {
  font-size: 20px;
  color: #ffe800;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
