.form-group {
  margin-top: 1rem;
}
label {
  margin-bottom: 2rem !important;
  margin-top: 4rem !important;
}
.modal-btn {
  background-color: #ffe800;
  border: 1px solid #ffe800;
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  font-size: 20px;
  border-radius: 0px;
}
.modal-title {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
