body {
  color: #e1e1e1 !important;
  background: #2d3436 !important;
  font-family: "Open Sans", sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

.primary-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border-color: #ffe800;
  background-color: #ffe800;
  color: #2d3436;
  border-radius: 0px;
}
.primary-form-input {
  font-style: italic;
  font-size: 21px;
  color: #ffe800;
  border: 1px solid #ffe800;
  background-color: transparent;
  font-family: "Open Sans", sans-serif "Regular 400 Italic";
}
label {
  color: #ffe800;
  margin-bottom: 1rem;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
p {
  color: #e1e1e1;
  font-size: 20px;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
  margin-right: 5px;
}

input[type="radio"]:checked {
  background-color: #ffe800;
}
.modal-content {
  background-color: #2d3436;
  border: 1px solid #ffe800;
  font-family: "Open Sans", sans-serif;
  color: #ffe800;
  font-size: 20px;
}
.primary-btn:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border-color: #ffe800;
  background-color: #ffe800;
  color: #2d3436;
  border-radius: 0px;
}
