h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px !important;
  color: #e1e1e1;
}
.options span {
  font-family: "Open Sans", sans-serif;
  font-size: 15px !important;
  color: #e1e1e1;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px !important;
  color: #e1e1e1;
}
